@import "bourbon";
@import "vars";

/*==========  Desktop First  ==========*/

$breakpoints: (
    xxsmall: 0,
    xsmall: 540px,
    small: 768px,
    medium: 992px,
    large: 1140px,
    xlarge: 1280px,
    xxlarge: 1680px
);

@mixin mq($device) {
    @if map-has-key($breakpoints, $device) {
        @media (max-width: map-get($breakpoints, $device)) {
            @content;
        }
    } @else {
        @content;
    }
}